body{
    background:url(../images/login2.jpg);
     background-repeat: no-repeat;
     background-size:  cover;
 }

 .bigbox{
    padding:20px 15%;
      background: #00000060;
     /* width: 30%;*/
     /* height: auto ;*/
     margin: 0 auto ;
     margin-top: 0%;
 }
 @charset "utf-8";
/* CSS Document */
.bigbox2{
    padding:2px 50px 0px;
     /* background: #00000060;*/
     width: 30%;
     height: auto ;
     margin-left:  0px ;
     margin-top: 10px;
 }

.tabtop13 {
	margin-top: 13px;
}

.tabtop13 td{
	background-color:#ffffff;
	height:25px;
	line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}

.biaoti{
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: bold;
	border-bottom:1px dashed #CCCCCC;
	color: #255e95;
}

.titfont {

	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
	background: url(../images/ico3.gif) no-repeat 15px center;
	background-color:#e9faff;
}

.tabtxt2 {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	color:#327cd1;
}

.tabtxt3 {
	font-family: 微软雅黑;
	font-size: 14px;
	padding-left: 15px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}
.subnav{
    width: 20%;
    height: 451px;
    margin-top: 20px;
    background:rgba(0,0,0,0.375);
    float:left;
    margin-left:-21.4%;
    padding:  30px 0% 30px 20%;
}
.subnav ul li a {
    font-size:14px;
    color:#fff;
}

.subnav ul li :hover {
    color: #00a4ff;

}
.subnav ul li{
    height:38px;
    line-height: 35px;

}
.subnav ul li a span{
    float:right;
}
.subnav2{
    width:50%;
    height: 421px;
    background:rgba(0,0,0,0.375);
    float:right;
    padding:  30px 31.5% 30px 21.3%;
    margin-top: 20px;
    margin-right:-21.4%;
}