<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>学生投票页</title>
  <link rel="stylesheet" href="../static/css/page1.css">
  <style type="text/css">
    a {
        text-decoration: none;
    }
</style>
</head>

<body>
  <html>

  <body>
    <div class="bigbox">
      <form id=form action="vote" method="post">
        <h3>请投票</h3>
        <input id=input hidden type="text" name="sid" value={{sid}}>
        <input type="checkbox" name="g1" value="g1"><a href="https://www.cnblogs.com/20team1/"target="_blank" style="color:white" >第1组</a>
        <br>
        <input type="checkbox" name="g2" value="g2"><a href="https://www.cnblogs.com/SEteam2/"target="_blank" style="color:white">第2组</a>
        <br>
        <input type="checkbox" name="g3" value="g3"><a href="https://www.cnblogs.com/whlh/"target="_blank"style="color:white">第3组</a>
        <br>
        <input type="checkbox" name="g4" value="g4"><a href="https://www.cnblogs.com/dygjc/"target="_blank" style="color:white">第4组</a>
        <br>
        <input type="checkbox" name="g5" value="g5"><a href="https://www.cnblogs.com/dongdedoudong/"target="_blank" style="color:white">第5组</a>
        <br>
        <input type="checkbox" name="g6" value="g6"><a href="https://www.cnblogs.com/cjwl//"target="_blank" style="color:white">第6组</a>
        <br>
        <input type="checkbox" name="g7" value="g7"><a href="https://www.cnblogs.com/bjdkf/"target="_blank" style="color:white">第7组</a>
        <br>
        <input type="checkbox" name="g8" value="g8"><a href="https://www.cnblogs.com/NO8ruangong/"target="_blank" style="color:white">第8组</a>
        <br>
        <input type="checkbox" name="g9" value="g9"><a href="https://www.cnblogs.com/wyy12/"target="_blank" style="color:white">第9组</a>
        <br>
        <input type="checkbox" name="g10" value="g10"><a href="https://www.cnblogs.com/Double-Ten/"target="_blank" style="color:white">第10组</a>
        <br>
        <input type="checkbox" name="g11" value="g11"><a href="https://www.cnblogs.com/classzgroup11/"target="_blank" style="color:white">第11组</a>
        <p><input type="submit" id=button value="投票" onclick="return submitCheck()" /></p>
      </form>

    </div>
  </body>
  <script>
    var gid = {{ gid }};
    document.getElementsByName("g" + gid)[0].disabled = true;
    function submitCheck() {
      var checked = false;
      for (var i = 1; i <= 11; i++) {
        if (document.getElementsByName("g" + i)[0].checked == true) {
          checked = true;
          break;
        }
      }
      if (checked) {
        return true;
      }
      alert("请至少选择一个组投票。")
      return false;
    }
  </script>

  </html>


</body>

</html>