<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="login">
        <h1>投票系统</h1>
        <div class="form">
            <form action="student" method="post">
                <div class="item">
                    <input type="text" name="id" placeholder="用户名">
                </div>
                <div class="item">
                    <input type="password" name="password" placeholder="密码">
                </div>
        </div>
        <button value="stuLogin">学生登录</a></button>
        <button value="teaLogin" formaction="teacher" method="post">教师通道</a></button>
        </form>
        


    </div>
</body>
<script>
    if ({{error}} == 1) {
        alert("您已经投过票，不能多投。");
    }
    else if ({{error}} == 2) {
        alert("学号输入错误或不是本班学生。");
    }
</script>
</html>